<h1>USER PROFILE</h1>


<div class="row justify-content-center" >
    <div class="col-sm-5">
      <div class="card m-5" >
        <div class="card-body">
          <h5 class="card-title">MY PROFLE</h5>
          <hr>
          <table class="table">
            <tr>
              <td> NAME </td>
              <td> {{userprofile?.username}} </td>
            </tr>
            <tr>
              <td>EMAIL</td>
              <td>{{userprofile?.email}}</td>
            </tr>
            <tr>
              <td>Password</td>
              <td>*********</td>
            </tr>
            <!-- <tr>
              <td></td>
              <td><p class="text-decoration-underline text-primary" style="cursor: pointer;" (click)="changePassword(userprofile)">Change Password</p></td>
            </tr> -->
          </table>
        </div>
      </div>
    </div>
  </div>



<!-- 
<app-corousel></app-corousel>


 -->


 <!-- <div class="container">
 <app-store></app-store>
</div> -->
<!-- 
<router-outlet></router-outlet> -->