





 <app-corousel></app-corousel>
 

 
 <div class="card press-release containerCss zoom mt-5 mb-5" data-aos="fade-up" data-aos-once="true">
    <div class="card-body text-center  pt-4 pd-5" >
       <div class="small mb-half pt-4 title-card">
        <div class="glass">
          <i class="newspaper"></i>
          <h4>Get a Premium </h4>         
          <!-- <h5 class="title-card">PRESS RELEASE | 10.28.2020</h5> -->
       <h4 class="text-bold title-card pt-3">Explore the Book you need  </h4>
       <input type="submit" class="mt-5 mb-3 btn " value="LEARN MORE">

     </div>
        </div>
     
    </div>
 </div>




 <div class="card containerCss" >
  
   <div class="row">

       <div class="wrap">

          <h4>    </h4>    
         <h4>World of Million Books </h4>
       </div>


   </div>




 </div>
          


 <div class="container mt-5">    <app-categories></app-categories> </div>
 <!-- <router-outlet></router-outlet> -->






