<h3>ORDER DETAILS</h3>
<!-- <div class="row">
    <h3>ORDER DETAILS</h3>
    <div class="col">
        <div class="card " *ngFor="let myOrder of MyOrders; index as i">
            <div class="card-header ">
                <p>Ordered Date:<span>27/3/2021</span></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="{{myOrder.products.photo}}" alt="">
                    </div>
                    <div class="col-3">
                        <h4>Product Desc</h4>
                        <p>{{myOrder.products.prod_desc}}</p>
                        
                    </div>
                    <div class="col-2">
                        <p>PRICE</p>
                        <p>{{myOrder.products.prod_price}}</p>
                    </div>
                    <div class="col-5">
                        <p>DELIVERY ADDRESS</p>
                        <p>
                            {{myOrder.address}}
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div> -->